*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #333;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 5vw;
    margin: 50px 0;
}
form{
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    min-width: 400px;
}
form label{
    display: block;
    font-size: 25px;
}
form input{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    border: 1px solid #333;
}
form input:focus{
    box-shadow: 0 0 2px 2px rgba(255, 255, 255 , .4);
}
form button{
    padding:15px 30px;
    font-size: 20px;
    background: #f1f1f1;
    border: 1px solid #555;
    border-radius: 5px;
}
form button:hover{
    background: transparent;
    color: #f1f1f1;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    transition: .5s;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255 , .4);
}
.liste{
    list-style-type: none;
    margin: 20px auto 0;
    width: 70%;
    max-width: 1200px;
    min-width: 400px;
}
li{
    font-size: 20px;
    width: 100%;
    background: #f1f1f1;
    display: flex;
    align-items:center ;
    padding: 5px;
    color: #333;
    margin: 5px o;
    border-radius: 5px;
}
li:hover{
    box-shadow: 0 0 2px 2px rgba(255, 255, 255 , .4);
}
li input{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
li button{
    margin-left: auto;
    padding:5px ;
    background: #333;
    border: none;
    border-radius: 5px;
}
li button:hover{
    box-shadow:  0 0 2px 2px rgba(255, 255, 255 , .8);
    cursor: pointer;
    transition: .3s;
}
button img{
    width: 40px;
    pointer-events: none;
}
li span{
    font-size: 25px;
    margin-left: 20px;
}
li.finDeTache span{
    text-decoration: line-through;
}
